---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.vue';
import Footer from '../../components/Footer.vue';
import { getEntry } from 'astro:content';
import ZenodoPublications from '../../components/ZenodoPublications.vue';

// Récupération des données depuis le fichier unique
const pubData = await getEntry('sections', 'publications');
 const { title } = pubData.data;
---

<Layout title={`${title} | AIM-PRO Project`}>
  <Navbar client:load />

  <main class="pt-24 pb-20 bg-slate-50 min-h-screen">
    <!-- En-tête -->

    <!-- Composant Vue Interactif -->
<!--     <PublicationsList 
        title={title}
        subTitle={subTitle}
      deliverables={deliverables} 
      papers={scientific_papers} 
    /> --> 
       <ZenodoPublications 
      communityId={'eu'} 
      limit={25}
      client:visible 
    />
  </main>

<Footer client:visible />
</Layout>